:root {
    --clr-text-primary: red;
}

body {
    font-family: 'Roboto', sans-serif;
}


.navbar {
    background-color: var(--clr-text-primary);
}

#cabecalho .nav .nav-link.active {
    background-color: white;
    color: var(--clr-text-primary);
}

.navbar-brand,
.navbar-brand:hover,
#cabecalho .nav .nav-link,
.nav-cardapio .nav-link.active:hover {
    cursor: pointer;
    color: white;
}

.navbar-brand {
    font-family: 'Madimi One', sans-serif;
}

.navbar-toggler {
    /* background-color: white; */
    color: white;
    border: 1px solid rgba(245, 245, 245, 0.26);
    
}

.carousel-inner img {
    height: 25rem;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.section-title {
    font-family: 'Madimi One', sans-serif;
}

#sobre,
#catalogo {
    background-color: #FFEAE6;
}

.text-colored {
    color: var(--clr-text-primary);
}

.text-logo {
    background-color: white;
    padding-inline: .5rem;
    border-radius: .25rem;
}

.category-title {
    padding: .25rem .5rem;
    width: max-content;
    background-color: #FFEAE6;
}


#contato button,
.nav-cardapio .nav-link.active {
    background-color: var(--clr-text-primary);
    color: white;
}

.nav-cardapio .nav-link:hover {
    color: var(--clr-text-primary);  
}

.social-links li {
    display: inline;
    list-style: none;
}

.social-links li a {
    text-decoration: none;
}

@media (max-width: 767px) {
    .carousel-item img {
        height: 20rem;
    }
}